* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
}


.App {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  /* background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 101, 133, 1) 0%,
    rgba(255, 211, 165, 1) 90%
  ); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

.home{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: bisque;
  justify-content: center;
  text-align: center;
}

.login-form, .signup-form{
    width: 300px;
    height: auto;
    border: 1px solid black;
    padding: 80px;
    margin: 40px;
    background: gainsboro;
    margin: 0 auto;
    margin-top: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
